body {
  margin: 0;
  background-color: #1a1a1d;
}

nav {
  height: 50px;
  width: 100%;
  background-color: #333;
  color: #eee;
  position: fixed;
  z-index: 1;
  top: 0;
}

nav ul {
  padding: 0;
  margin: 0;
  height: 100%;
}

nav ul li {
  display: inline-block;
  float: left;
  width: 16%;
  height: 100%;
}

.WIPH{
  width: 20%;
}
nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  font-family: sans-serif;
}

nav li:hover {
  background-color: #444;
}

nav a#openup {
  display: none;
}

@media only screen and (max-width: 970px) {
.WIPH,.WPH{
  width: 30% !important;
}
nav ul li:not(.WIPH){
  width: 20%;
}
}


@media screen and (max-width: 625px) {
  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #111;
    border-bottom: 1px solid #555;
  }
  nav a:last-child {
    width: 100%;
  }
  nav a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #000;
    width: 100%;
    position: relative;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
  }
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar:horizontal {
    height: 9px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #51555a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1b1c1d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000000;
    width: 15px;
  }
  nav img{
    height: 30px;
    vertical-align: middle;
    border-radius: 50%;
  }
  nav li#sign {
    float: right;
    width: fit-content;
    padding: 5 10px;
    align-items: center;
    overflow: hidden;
  }
  nav li#sign a {
  align-items: center;
  height: 18px;
  }
.IDE{
  margin-top: 80px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.IDE button,.IDE input{
  margin-bottom: 20px;
}
.IDE button{
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #1a1a1d;
  color: #fff;
  padding: 3px 15px;
  height: 25px;
}
.IDE input{
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #1a1a1d;
  color: #fff;
  padding: 4px 15px;
  height: 15px;
}
.IDE input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eee;
    opacity: 1; /* Firefox */
}

.IDE input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #eee;
}

.IDE input::-ms-input-placeholder { /* Microsoft Edge */
    color: #eee;
}
.inputError{
  border: 1px solid #f5173a !important;
}
.inputError::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bb2020 !important;
    opacity: 1; /* Firefox */
}

.inputError:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red !important;
}

.inputError::-ms-input-placeholder { /* Microsoft Edge */
    color: red !important;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 25px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.75);
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    height: 90%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.modal ul{
  margin: auto;
  width: 80%;
  padding: 0;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: bolder;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(fonts/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#filepicker{
  margin-top: 40px;
  display: block;
}
.modal div{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
  width: 80%;
  display: block;
  background-color: white;
  margin-bottom: 10px;
  color: black;
  padding: 25px;
  cursor: pointer;
  line-height: 20px;
  border-radius: 5px;
}
.modal div:hover{
  background-color: #6d5cb5;
  color: white;
}
.modal li a{
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: black;
}
.code {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.code .css,.code .js,.code .html {
height: 300px;
z-index: 0;
}
@media screen and (max-width:780px) and (min-width:430px) {
  .code {
    display: flex;
    flex-wrap: wrap;
  }
  .code .html {
  flex: 0 0 100%;
  }
  .code .css,.code .js {
  flex: 0 0 49%;
  margin-top: 20px;
  }
  .code .js{
    margin-left: 2%;
  }
  .frame{
    width: 95% !important;
  }
}
@media screen and (max-width:430px)  {
  .code {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .code .js{
    margin-left: inherit;
  }
  .frame{
    width: 96% !important;
  }

}

.html, .js, .css, .frame {
  box-shadow: 10px 15px 20px black;
}
.editor{
  height: 255px;
}
.header {
  background-color: black;
  color: white;
  height: 30px;
  margin-top: 0;
  padding-top: 15px;
  padding-left: 10px;
}

.header p {
  font-family: sans-serif;
  margin: 0 0;
  width: 100%
}

.frame {
  width: 92%;
  height: 100vh;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: white;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.ace_editor {
  line-height: 1.4 !important;
  font-family: 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
  width: 100%;
  height: calc(100% - 45px);
}

.ace_gutter {
  color: #666E79 !important
}

.ace_active-line, .ace_gutter-active-line {
  background-color: #2A2F38 !important
}

.ace_scroller, .ace_gutter {
  background-color: #263238 !important

}

.ace_meta.ace_tag {
  color: #5b82b1 !important
}

.ace_meta.ace_tag.ace_tag-name {
  color: rgba(255, 83, 112, 1) !important
}

.ace_entity.ace_other.ace_attribute-name {
  color: #D2945D !important
}

.ace_string {
  color: #90C378 !important
}
.ace_gutter {
  z-index: 0;
}
.ace_layer {
  z-index: 0;
}
.ace_editor .ace_marker-layer .ace_bracket { display:none; }
.ace-monokai {
    color: #a92bf5;
  }
.ace_autocomplete .ace_active-line {
  background-color: #1f293a !important;
}
.ace_editor.ace_autocomplete {
  position: absolute;
}
.ace_selection{
    background: #423b5d !important;
}
.ace_scrollbar{
  z-index: 0;
}
