body {
  margin: 0;
  background-color: #0d0d0e;
  height: 100vh;
}
#out{
  margin: 0 auto;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
}
button{
  width: 100%;
  background-color: #ec2c2c;
  font-weight: 500;
  height: auto;
  min-height: 40px;
  padding: 8px 16px;
  text-align: left;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  box-shadow: 10px 10px 2px #000;
}
.sign{
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: absolute;

}
.signform{
  height: 70%;
  width: 70%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signform fieldset{
border-radius: 5px;
border-style: solid;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(fonts/ieVl2ZhZI2eCN5jzbjEETS9weq8-19K7DQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(fonts/SLXGc1nY6HkvalIkTpu0xg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
.signform legend{
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:bolder;
}
.signform input{
  background-color: #0d0d0e;
  border-radius: 3px;
  border: 1px #fff solid;
  width: 70%;
  height: 35px;
  padding: 0 10px;
  color: white;
  margin: 5px 0;
  display: block;
}
.signform input::placeholder {
  color: #b9b7b7;
}
.signform button{
  background-color: #5e3af1;
  border-radius: 2px;
  border: 0;
  width:  65px;
  height: 33px;
  padding: 0 10px;
  margin-right: 5px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
  box-shadow: 10px 8px 0px #000;
}
.signform button:hover{
  background-color: #3b2496;
  width:  70px;
  height: 35px;

  margin-bottom: -1px;
  box-shadow: 12px 10px 0px #000;
}
#firebaseui-auth-container{
  margin-bottom: 0;
  z-index: 0;
  height: 70%;
  width: 70%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
